@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);
@import "tailwindcss";

* {
    font-family: "Space Grotesk";
}

@keyframes pulseSlow {
  0%, 100% { transform: translateY(0) scale(1); opacity: 0.6; }
  50% { transform: translateY(-10px) scale(1.05); opacity: 0.8; }
}

.animate-pulse-slow {
  animation: pulseSlow 8s ease-in-out infinite;
}
